<div class="card">
  <%= link_to "戻る", root_path, class: "back-link" %>
  <h1 class="page-title">種目を選択</h1>

  <% if @exercises.any? %>
    <div class="select-list">
      <% @exercises.each do |exercise| %>
        <%= link_to select_exercise_path(exercise), class: "select-list__item" do %>
          <span><%= exercise.name %></span>
          <span class="select-list__arrow">›</span>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p class="empty-message">種目が登録されていません。</p>
  <% end %>

  <%= link_to new_exercise_path, class: "btn-add" do %>
    + 種目を追加
  <% end %>
</div>
